*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f1f1f1;
}
header {
  /* border: 1px solid tomato; */
  padding: 30px;
  /* position: -webkit-sticky; */
  /* width: 100px; */
}
h1 {
  text-align: center;
  font-size: large;
  font-weight: bolder;
}
header nav {
  margin-top: 10px;
  padding: 20px;
  background-color: antiquewhite;
}
nav ul li {
  display: inline-block;
  margin-left: 10px;
}
nav ul li a {
  color: blue;
  text-decoration: none;
}
/* refear the position in the li to the parent  */
nav ul {
  position: relative;
}
#most_left {
  /* text-align: right; */
  background-color: rebeccapurple;
  position: absolute;
  right: 0;
}
#left{
    /* border:1px solid tomato; */
    float: left;
    width: 75%;
    padding: 20px;

}
#right{
    float: right;
    width: 25%;
    padding: 20px;

}
/* article{
    padding: 20px;
} */
.placeholder{
    width: 100%;
}



footer{
    clear: both;
    text-align: center;
}